SUPABASE_URL="https://npzofjjfbczaoglfeloz.supabase.co"
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5wem9mampmYmN6YW9nbGZlbG96Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjEyNTA1MDgsImV4cCI6MjAzNjgyNjUwOH0.i5e7K-3P8sU54wYojpRoerntq93wlziSQyqphRAnmuw